{
  "root": true,
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "import/no-extraneous-dependencies": false,
    "jsx-a11y/no-static-element-interactions": false
  }
}